:root {
  --colorPrimary: rgb(139,195,74);
  --colorPrimary-dark: hsl(87.80000000000001,50.2%,47.5%);
  --colorPrimary-darker: hsl(87.80000000000001,50.2%,44.8%);
  --colorPrimary-light: hsl(87.80000000000001,50.2%,58%);
  --colorPrimary-lighter: hsl(87.80000000000001,50.2%,60.7%);
  --colorSecondary: rgb(83,109,254);
  --colorText: rgb(79,95,111);
  --colorText-light: rgb(126,142,159);
  --colorText-lighter: rgb(165,180,195);
  --colorText-dark: rgb(47,55,63);
  --colorText-darker: rgb(47,55,63);
  --colorText-muted: rgb(194,204,214);
  --colorText-inverse: rgb(255,255,255);
  --colorText-passive: rgb(197,197,197);
  --colorTextSecondary: rgb(117,117,117);
  --colorDivider: rgb(215,221,228);
  --colorDivider-light: hsl(212.29999999999995,19.4%,95.5%);
  --colorDivider-lighter: hsl(212.29999999999995,19.4%,99.9%);
  --colorDivider-dark: hsl(212.29999999999995,19.4%,78.2%);
  --colorDivider-darker: hsl(212.29999999999995,19.4%,73.8%);
  --BodyColorBg: rgb(240,243,246);
  --LinkColor: rgb(47,55,63);
  --LinkColor-hover: hsl(87.80000000000001,50.2%,47.5%);
  --LinkFontWeight: 600;
  --LinkTextDecoration: none;
  --LinkTextDecoration-hover: none;
  --AppColorBg: rgb(240,243,246);
  --AppHeaderHeight: 60px;
  --AppHeaderHeight-xs: 50px;
  --AppSidebarWidth: 240px;
  --AppSidebarWidth-compact: 70px;
  --AppFooterHeight: 50px;
  --AppCustomizeWidth: 280px;
  --AppLayoutTransitionDuration: 0.3s;
  --HeaderColorBg: rgb(255,255,255);
  --HeaderShadow: 0px 0px 20px rgba(0,0,0,0.3);
  --HeaderBorderBottom: 1px solid #e0e0e0;
  --FooterColorBg: rgb(255,255,255);
  --FooterShadow: none;
  --SidebarColorBg: rgb(59,76,93);
  --SidebarColorText: rgba(255,255,255,0.8);
  --SidebarBgImage: url('~/sidebar-bg-1.jpg');
  --SidebarBgImageOpacity: 1;
  --SidebarShadow: 0px 0px 30px rgba(0,0,0,0.5);
  --SidebarPaddingHorizontal: 20px;
  --SidebarNavColorText: rgba(255,255,255,0.6);
  --SidebarNavColorText-open: rgba(255,255,255,0.6);
  --SidebarNavColorText-active: rgb(255,255,255);
  --PagePaddingVertical-xs: 15px;
  --PagePaddingHorizontal-xs: 10px;
  --PagePaddingVertical-sm: 20px;
  --PagePaddingHorizontal-sm: 20px;
  --PagePaddingVertical-md: 25px;
  --PagePaddingHorizontal-md: 20px;
  --PagePaddingVertical-lg: 25px;
  --PagePaddingHorizontal-lg: 20px;
  --PagePaddingVertical-xl: 35px;
  --PagePaddingHorizontal-xl: 40px;
  --CardColorBg: #fff;
  --CardShadow: 1px 1px 5px rgba(0,0,0,0.03);
  --CardMarginBottom: 15px;
  --CardMarginBottom-sm: 15px;
  --CardMarginBottom-md: 20px;
  --CardMarginBottom-lg: 20px;
  --CardMarginBottom-xl: 30px;
  --CardBlockPaddingVertical: 10px;
  --CardBlockPaddingVertical-xl: 15px;
  --CardBlockPaddingVertical-sm: 8px;
  --CardBlockPaddingHorizontal: 15px;
  --CardBlockPaddingHorizontal-xl: 20px;
  --CardBlockPaddingHorizontal-sm: 10px;
  --DropdownColorBg: #fff;
  --ProgressColorBg: #dddddd;
}

// Main styles
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  position: absolute;
  width: 100%;
  color: var(--colorText);
  overflow-x: hidden;
  background: var(--BodyColorBg);
  font-family: 'Open Sans', sans-serif;

  &.-rtl {
    text-align: right;
  }

  &.-rounded {
    border-radius: 0;
  }
}

a {
  color: var(--LinkColor);
  text-decoration: var(--LinkTextDecoration);
  font-weight: var(--LinkFontWeight);


  &:hover {
    color: var(--LinkColor-hover);
    text-decoration: var(--LinkTextDecoration-hover);
  }
}
